/* ===========================
   PAGES INDEX
   Import all page styles
=========================== */

@import './home';
@import './login';
@import './register';
@import './profile';
@import './posts';
@import './post';
@import './createProfile';
@import './editProfile';
@import './addExperience';
@import './addEducation';
@import './notFoundPage';




